.page {
  background-color: rgba(142, 202, 230, 1);
  padding-left: 40px;
  padding-right: 40px;
}
.header {
  position: fixed;
  padding-top: 35px;
  padding-bottom: 20px;
  z-index: 10;
}

.page__section {
  font-family: Neucha;
  box-sizing: border-box;
  position: relative;
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
}

.header__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__top {
  display: flex;
  gap: 52px;
  justify-items: center;
}

.logo {
  margin-right: auto;
  text-decoration: none;
  font-size: 50px;
  height: 42px;
  font-weight: 700;
  line-height: 27px;
  color: rgba(252, 252, 252, 1);
}

.icon {
  display: block;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 20px;
  text-transform: uppercase;
  padding: 13px;
  background-color: rgba(142, 202, 230, 1);
  color: #1a1b4b;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1; /* 16px */
  text-transform: uppercase;
  border: 1px solid #1a1b4b;
  cursor: pointer;
}
.icon:hover,
.icon:focus {
  border: 1px solid #fb8500;
}
.headline {
  margin-bottom: 10px;
  font-family: Neucha;
}
.headline-section {
  padding-top: 150px;
  background-color: rgba(142, 202, 230, 1);
}
.headline__content {
  font-family: Neucha;
  font-size: 100px;
  color: rgba(26, 27, 75, 1);
}
/* .--two {
  position: absolute;
  top: 50px;
  left: 450px;
} */
.content {
  font-family: Neucha;
  font-size: 35px;
  color: rgba(26, 27, 75, 1);
  margin-bottom: 40px;
}

.img__boybox {
  position: absolute;
  top: 150px;
  left: 600px;
  z-index: 1;
}

.img__boy {
  width: 669px;
  height: 565px;
}

.footer {
  padding-top: 35px;
  padding-bottom: 35px;
  background-color: rgba(142, 202, 230, 1);
}
